<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Hello World Traveler!</h1>
    <p> You have traveled <span id='distanceTraveled'>NA</span> feet.</p>

    <script type="application/javascript" src="public/js/function.js"></script>
    <script type="application/javascript" src="public/js/app.js"></script>
    <script type="application/javascript" src="public/js/events.js"></script>
  </body>
</html>
